/*综合统计样式开始*/

.ckxq {
	text-align: right;
	font-size: 18px !important;
}

div[class^=mui-col-sm-3] {
	text-align: center;
}

#bottom-icon2 img {
	margin-top: 5px;
	width: 50px;
}

ul {
	line-height: 17px;
}

#bottom-icon2>.mui-table-view:first-child {
	margin-top: 0;
}

.text {
	margin-top: 10px;
	line-height: 25px;
}


/*综合统计样式结束*/
tr td:nth-of-type(2),
tr td:nth-of-type(3),
tr td:nth-of-type(4),
tr td:nth-of-type(5){
	border-left: 1px solid #EAF8FC;
	}

/*群测群防上报率*/

body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
}

.citychoose {
	float: right;
	color: red;
}

.citychoose>span {
	font-size: 20px;
}

.title_xz {
	width: 100%;
	height: 35px;
	line-height: 35px;
	position: fixed;
	top: 0;
	background-color: #f0f0f0;
	margin-top: 46px;
	text-align: right;
	z-index: 10000;
	/*border-bottom: 1px solid #E0E0E0;*/
}

#qx_news {
	position: absolute;
	top: 92px;
	width: 100%;
}

.mui-bar-nav~.mui-content {
	padding-top: 0px;
}

#choose_one {
	margin-right: 20px;
}

.table-head {
	width: 100%;
	position: fixed;
	background-color: #fff;
}

.table-body {
	width: 100%;
	margin: 42px 0% 0px 0%;
}

.table-head table,
.table-body table {
	width: 100%;
}

#sbl{
	color: #A52A2A;
}
#ying{
	color: #006400;
}
#shi{
	color: #0062CC;
}

tr th {
	text-align: center;
	 background-color:rgba(3,169,244,0.3);
    color: #333333 ;
        font-family: monospace;
}
tr th:nth-of-type(1),
tr th:nth-of-type(2),
tr th:nth-of-type(3){
	border-right: 1px solid #fff;
}
tr td {
	text-align: center;
	line-height: 40px;
}

.colorone {
	background-color: #f0f8ff;
}

.colortwo {
	background-color: #fff;
}

.img {
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 85px;
	left: 56px;
	z-index: 10000;
}

.img img {
	width: 15px;
}

#title_span {
	position: absolute;
	right: 15px;
	top: 32px;
	font-size: 14px;
}

.title_xz span {
	color: #666666;
	font-size: 12px;
	display: inline-block;
	margin-right: 12px;
}

.table_head {
	position: fixed;
	top: 81px;
	width: 100%;
	height: 35px;
	line-height: 35px;
	z-index: 100;
	background-color: white;
}

#tb {
	width: 100%;
}

#rz_table {
	margin-top: 115px;
}