#offCanvasSideScroll {
	bottom: 52px;
}

.icon2-centent {
	margin-top: 77px;
}

.icon2-centent>.mui-search {
	width: 100%;
}


/*筛选按钮*/

#offCanvasShow {
	float: right;
	line-height: 37px;
	cursor: pointer;
}

#offCanvasShow>span {
	float: left;
}

#offCanvasShow>img {
	width: 30px;
	margin: 0;
}

.threaten {
	padding: 20px;
}

.threaten>div {
	/*border-bottom: 1px solid #000;*/
	font-size: 15px;
	color: darkolivegreen;
	padding: 5px 0;
	border-bottom: 1px dashed #E0E0E0;
}

.threaten>div:nth-child(even) {
	text-align: right;
	color: orangered;
}

.mui-bar-tab {
	height: 30px;
	line-height: 30px;
	text-align: center;
}

nav.mui-bar {
	background: #f8f7ea;
}

nav>a {
	cursor: pointer;
	color: #868789;
	font-weight: bold;
}

#offCanvasSideScroll {
	background: #fff;
	color: #6f6c6c;
	font-weight: bold;
}

.titlechoose {
	/*background: #df1c1c;*/
	background: #f2f2f2;
	cursor: pointer;
	border-radius: 0px;
	border: transparent;
}

.titlechoose .mui-control-item {
	line-height: 50px;
}

.mui-content>.mui-table-view:first-child {
	margin-top: 0;
}

.mui-radio.mui-left label {
	padding: 10px 15px 10px 50px;
}

.ancontent .mui-table-view-cell.mui-active {
	background: #fff;
}

.boxflex {
	text-align: center;
	font-size: 13px;
	/*margin-top: 10px;*/
}

.checkborder {
	display: inline-block;
	width: 80%;
	height: 30px;
	padding: 5px;
	text-align: center;
	background: #f6f6f6;
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
	margin-bottom: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.inputcheck {
	width: 40%;
	height: 30px;
	padding: 5px;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #ddd;
}

.allchoose {
	color: darkgray;
	float: right;
	cursor: pointer;
}

.ancontent>.mui-table-view {
	display: none;
}

.ancontent>.mui-table-view.mui-active {
	display: block;
}

body,
html {
	margin: 0;
	height: 100%;
}

.content_iframe {
	position: relative;
	top: 62px;
	height: calc(100% - 62px);
}

.citychoose {
	float: right;
	color: red;
}

.citychoose>span {
	font-size: 20px;
}

.title_xz {
	width: 100%;
	height: 35px;
	line-height: 35px;
	position: fixed;
	top: 0;
	background-color: #fff;
	margin-top: 60px;
	z-index: 10000;
	border-bottom: 1px solid #E0E0E0;
}

#qx_news {
	position: absolute;
	top: 62px;
}

.mui-bar-nav~.mui-content {
	padding-top: 0px;
}

#choose_one {
	margin-right: 20px;
}

.table-head {
	width: 100%;
	/*margin: 0px 5%;*/
	position: fixed;
	top: 62px;
	z-index: 100;
	background-color: #fff;
}

.table-body {
	width: 100%;
	/*max-height:400px;*/
	margin: 41px 0% 0px;
	/*overflow-y:scroll;*/
}

.table-head table,
.table-body table {
	width: 100%;
}


/*tr{
				border-bottom: 1px solid #E4E3E6;
			}*/

tr th {
	text-align: center;
}

tr td {
	text-align: center;
	line-height: 30px;
}

.colorone {
	background-color: #f0f8ff;
}

.colortwo {
	background-color: #fff;
}

#offCanvasBtn {
	line-height: 44px;
	font-size: 16px;
	font-weight: bold;
	width: 60px;
	padding-left: 10px;
	color: #fff;
}

#offCanvasBtn img {
	width: 18px;
	position: relative;
	top: 3px;
}

#offCanvasSideScroll {
	background-color: #fff;
}


/*列表*/

.icon2-ul-mc {
	font-weight: 700;
	font-size: 16px;
}

.icon2-ul-sj {
	position: absolute;
	right: 35px;
	/*top: 23px;*/
	font-size: 12px;
}

.icon2-ul-bh {
	padding-top: 5px;
	font-size: 16px;
}

.icon2-ul-fonta {
	color: red;
}

.icon2-ul-fontb {
	color: #F5CD19;
}

.icon2-ul-fontc {
	color: #c8c8c8;
}

.pointlist img {
	width: 40px;
	float: left;
	margin-right: 10px;
}

.mui-content-padded {
	margin: 0px 10px;
}

.boxflex {
	display: flex;
}

.boxflex>span {
	flex: 1;
	font-size: 12px;
	margin: 5px;
	padding: 5px 0;
	text-align: center;
	background: #f6f6f6;
	border-radius: 5px;
	cursor: pointer;
}

.mui-table-view-cell input {
	background-color: #f6f6f6;
}

.boxflex>.touming {
	display: inline-block;
	background: transparent;
}

.celltitle {
	display: inline-block;
	margin: 10px 0;
}

.citychoose {
	float: right;
	color: red;
	padding-right: 10px;
}

.citychoose>span {
	font-size: 20px;
}

#nav {
	background-color: #f2f2f2;
	border: 1px solid #d9d9d9;
	/*	z-index: 1;*/
}

.mui-bar-tab .mui-tab-item.mui-active {
	background-color: #DF1C1C;
	color: #fff !important;
	font-size: 18px;
}

.mui-bar-tab .mui-tab-item {
	color: #000000;
}

#offCanvasContentScroll {
	margin-top: 62px;
}

#content_qcqf {
	margin-top: 72px;
}

.mui-content-padded {
	margin: 0 !important;
}

.checkborder {
	font-size: 14px !important;
	border: 1px solid #fff;
}

.inputcheck {
	width: 40%;
	height: 30px;
	padding: 5px;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #ddd;
}

.mui-title {
	color: #fff;
}

.mui-table-view-cell.mui-active {
	background: #fff !important;
}

#table_centent tr {
	height: 50px;
	line-height: 50px;
}

.mui-bar-nav~.mui-content {
	padding-bottom: 52px !important;
}

.boxflex b {
	width: 100px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	background: #f6f6f6;
	border-radius: 5px;
}

.table-head {
	height: 41px;
}

.table-head tr {
	height: 41px;
	line-height: 41px;
	text-align: center;
}

header a {
	color: #fff;
}

#offCanvasShow {
	line-height: 44px;
	font-size: 16px;
	font-weight: bold;
	width: 60px;
	padding-left: 10px;
	color: #fff;
}

#offCanvasShow img {
	width: 18px;
	position: relative;
	top: 4px;
}

.s{
	background-color: #fff !important;
}

.boxflex input{
	width: 100px;
	border: none;
	margin-bottom: 0;
	height: 36px;
}

.mui-table-view-cell{
	padding: 0px 15px;
}

#sgdw,#xmmc{
	margin-bottom: 5px;
}

#qx{
	height: 36px;
	line-height: 36px;
}
