.mui-content {
	background-color: #fff;
}

h3 {
	color: #3333333;
	margin: 10px 15px 10px 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #F0F0F0;
	font-weight: normal;
	font-size: 18px;
}

.yhd {
	width: calc(100% - 30px);
	height: 250px;
	margin: 10px 15px 0px 15px;
}

.yhd_one {
	margin-bottom: -20px;
}

.sum {
	position: absolute;
	top: 250px;
	right: 20px;
	text-align: center;
	font-size: 14px;
	line-height: 30px;
	color: #808080;
}

#container {
	width: 100%;
	height: 170px;
	margin: 0 auto;
}

.i1 {
	background-color: #7CB5EC;
}

.i2 {
	background-color: #434348;
}

.i3 {
	background-color: #90ED7D;
}

.i4 {
	background-color: #F7A35C;
}

.i5 {
	background-color: #8AC9FF;
}

.i6 {
	background-color: #007AB7;
}

.i7 {
	background-color: #01999A;
}

.icon1-centent-left {
	margin-top: -30px;
}

.ibox {
	margin: 0 15px;
	padding: 5px 0px;
	border-bottom: 1px dashed #DEDEE0;
}

.icon1-centent-text>div {
	padding-left: 10px;
}

.icon1_price {
	float: right;
	display: inline-block;
}

.ibox i {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 5px;
}